---
interface StudiesProp {
  fromyear: number;
  toyear: string | number;
  degree: string;
  institution: string;
}

const { fromyear, toyear, degree, institution } = Astro.props as StudiesProp;
---

<section class="text-left sequence opacity-0 border-b border-indigo-400 w-full">
  <h2 class="font-black text-[clamp(1.4rem,5vw,2.4rem)]">
    {degree}
  </h2>
  <div class="flex gap-5 m-2 ml-5">
    <p>- {institution}</p>
    <p class="title">{fromyear} - {toyear}</p>
  </div>
</section>
