---
import Studies from "./Studies.astro";
---

<section
  class="flex md:flex-row-reverse flex-col items-center justify-center text-white"
>
  <div class="flex flex-col items-center">
    <img
      src="/images/self.png"
      width={500}
      height={500}
      alt={"Marlon Pixelart"}
    />
  </div>

  <div
    class="w-full md:w-[60%] md:text-left text-justify flex flex-col gap-1 p-3"
  >
    <code class="sequence opacity-0 text-lg"><pre>> About </pre></code>
    <h2
      class="sequence text-center opacity-0 text-[clamp(2rem,5vw,3.5rem)] font-bold title mb-3"
    >
      SOFTWARE ENGINEER & FRONTEND DEVELOPER
    </h2>

    <p class="sequence opacity-0 text-[clamp(0.1rem,5vw,1.2rem)] my-5">
      Soy un desarrollador creativo y disciplinado, con habilidad para
      transformar ideas complejas en soluciones claras y funcionales. Me destaco
      por mi capacidad de análisis, resolución de problemas y atención al
      detalle, así como por mi pasión por generar experiencias digitales
      atractivas e intuitivas. Mi enfoque combina creatividad, curiosidad y
      perseverancia, siempre buscando aprender y mejorar en cada proyecto que
      emprendo.
    </p>

    <aside class="flex flex-col gap-5 mt-5">
      <div class="sequence opacity-0 font-extrabold text-3xl">
        <h1 class="title">AGE</h1>
        <p class="text-xl">18 YEARS OLD</p>
      </div>
      <div class="sequence opacity-0 font-extrabold text-3xl">
        <h1 class="title">LOCATION</h1>
        <p class="text-xl">Bogotá, Colombia</p>
      </div>
    </aside>

    <Studies />
  </div>
</section>
