<section
  class="text-white text-4xl flex flex-col items-center justify-center h-[85vh]"
>
  <div class="p-4 parallax text-left items-start flex flex-col gap-4">
    <code class="line opacity-0 text-lg font-black text-gray-200 bg-indigo-600"
      ><pre> user@browser:~$ </pre></code
    >
    <code class="line opacity-0 text-lg"><pre>> whoami </pre></code>
    <aside class="line opacity-0 flex flex-col">
      <code class="title font-bold text-[clamp(4rem,5vw,6rem)]"
        >Marlon Hernández</code
      >
      <code class="title font-bold text-[clamp(2rem,5vw,2.5rem)]"
        >Software Developer</code
      >
    </aside>
    <aside class="*:hover:underline">
      <a href="https://github.com/overchernited" class="text-xl">github</a>
      <a href="https://github.com/overchernited" class="text-xl">cv</a>
      <a class="text-xl">linkedin</a>
      <a class="text-xl">gmail</a>
    </aside>
  </div>
</section>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline({ delay: 1 });

  window.addEventListener("DOMContentLoaded", () => {
    tl.fromTo(
      ".line",
      { opacity: 0 },
      {
        opacity: 1,
        y: 20,
        duration: 1,
        stagger: 0.5,
        ease: "power2.out",
      },
    )

      .from(
        ".parallax a",
        {
          opacity: 0,
          y: 10,
          duration: 0.3,
          stagger: 0.15,
          ease: "power2.out",
        },
        "-=0.7",
      );
  });
</script>
