---
import ResumeCard from "../../components/ResumeCard/index.astro";
---

<h2
  class="sequence title opacity-0 text-3xl mt-10 py-2 font-extrabold border-b-2 border-indigo-300 text-white"
>
  My Studies
</h2>
<div
  class="flex flex-col justify-start items-start text-white gap-20 mt-10 mb-30"
>
  <ResumeCard
    degree="Professional Technician in Software Development"
    institution="Fundación Universitaria Compensar"
    fromyear={2026}
    toyear="Present"
  />
  <ResumeCard
    degree="Application and Cloud Services Development Technician"
    institution="Servicio Nacional de Aprendizaje"
    fromyear={2023}
    toyear={2025}
  />
</div>
