---
import Layout from "../layouts/Layout.astro";
import CardAppareance from "../components/CardAppareance/index.astro";
---

<Layout>
  <div
    class="parallax text-white h-screen flex flex-col justify-center items-center gap-5 p-4"
  >
    <h2 class="font-extrabold text-3xl">Public Appearances and Mentions</h2>

    <CardAppareance
      img="https://i.ytimg.com/vi/Cz9I5FzG00Y/maxresdefault.jpg"
      title="Un joven programador transforma su pasión por la tecnología en propósito social a través de SENATIC"
      from="OIT | Senatic"
      link="https://www.ilo.org/es/resource/articulo/con-el-respaldo-de-la-oit-un-joven-programador-transforma-su-pasion-por-la"
      description="A sus 17 años, Marlon Santiago Hernández López ya mira al mundo desde el código. La tecnología no es solo su pasión temprana, sino su lenguaje para transformar realidades."
    />
  </div>
</Layout>
